.plan-step.category
  .icon-choices
    label
      .icon-choice.little-brother
        .icon
          img.shadow-icon(data-src="plan-opensource")
        input(value="open-source" type="radio" name="app-type")
        .title Open Source
        .blurb Open source projects, or personal experiments
    label
      .icon-choice.little-brother.pre-prod
        .icon
          img.shadow-icon(data-src="plan-pre-production")
        input(value="pre-production" type="radio" name="app-type")
        .title Pre-Production
        .blurb Projects in development that haven't launched yet
    label
      .icon-choice.big
        .icon
          img.shadow-icon(data-src="full-production")
        input(value="production" type="radio" name="app-type" checked="checked")
        .title Production
        .blurb Active projects live and in full production
  
  .finalize
    .arrow-button.continue Continue
