.plan-step.finalize-production
  .holder
    .summary
    .actions
      .pay-holder Select a Payment Method : 
      .add-payment-method 
        .txt To checkout, first : 
        a.button(href="#{addPayMethodPath}") Add a Payment Method
      .arrow-button.lifecycle Submit
    
