.icon-choices
  .icon-choice
    .icon
      img.shadow-icon(data-src="plan-#{plan.plan}")
    .strike
      .cost= plan.planData.max_price
    .blurb 
      each feature in plan.planData.features
        .feature= feature
