.category         {width:996px; display: flex; flex-direction: column; padding-top:30px;
  .finalize       {display: flex; justify-content: center; margin-top: 50px; position: relative;
    .arrow-button {margin-left: -60px;}
    a.delete-app  {color:#97B9C6; position: absolute; right:30px; font-size:16px; font-style: italic; margin-top:10px; display: flex;
      .txt        {border-bottom:solid 1px; }
      svg {margin-right:9px; margin-top:2px; 
        *       {fill: #97B9C6; }
      }
    }
  }
  .icon-choice    {
    &.big         {
      svg         {margin-left: 8px; margin-top:17px;  }
    }
    &.pre-prod    {
      svg         {margin-left: 2px; margin-top:12px;  }
    }
  }
}
