.mini-display   {display: flex; flex-direction:column; align-items: center;
  .icon         {background: white; display: flex; align-items: center; justify-content: center; width: 150px; height: 150px; border-radius: 50%; }
  .title        {@include title; text-align: center; border:none; margin:20px 0 20px; }
  .arrow-button {
    &:hover     {color:white; }
  }
}
