@mixin title {color:#418fde; font-size:14px; text-transform: uppercase; font-weight:$bold; letter-spacing: 0.06em; border-bottom: solid 1px #C3D2DF; min-width:175px; padding-bottom:10px; margin-bottom:10px; }
@mixin blurb {color:#a3b4c2; font-size:16px; font-style:italic; line-height:1.5;}
