.unavailable-features
  .x-icon#close-it
    img.shadow-icon(data-src="close-x" scalable="true")
  .info Your app is using the following features not included in the<br/><span>#{newPlan} plan</span>:
  each feature in features
    .feature= feature
  .info If you still want to use this plan, extend your trial below and modify your app so it doesn't user the above features. Then select the #{newPlan} plan. 
  .btn#add-hours Add 24hrs to Trial 
