.open-source
  .icon-choices
    .icon-choice
      .icon
        img.shadow-icon(data-src="open-heart")
      .strike
        .cost 29
      .blurb 
        .item 1 Server
        .item 1 Collaborator
        .item 1 Trigger
  .info
    .title Open Source / Personal Experiments
    .blurb Awesome! We're huge fans of open source projects and support them my letting you use nanobox for free<br/><br/>Tell us about your project :
    textarea(rows="3" placeholder="Drop us a link to your github repo or describe your project in a sentence or two.")
    .arrow-button.continue Submit
