.pre-production.lexi
  .icon
    img.shadow-icon(data-src="pre-prod-set")
  .title Pre-Production
  .blurb We don't charge while you are in pre-production. 
  .row
    .label Expected Launch Date
    select.stretch.margin.month
      option(value="jan") January
      option(value="feb") Febuary
      option(value="mar") March
      option(value="apr") April
      option(value="may") May
      option(value="jun") June
      option(value="jul") July
      option(value="aug") August
      option(value="sep") September
      option(value="oct") October
      option(value="nov") November
      option(value="dec") December
    select.year
      option(value="2017") 2017
      option(value="2018") 2018
  .row
    .label Best way we can help
    select.stretch.help-needed
      option(value="configuring") Configuring the environment
      option(value="migrating") Migrating App
      option(value="benchmarking") Traffic Benchmarking
  .row
    .label Prefered point of contact
    select.margin.contact-pref
      option(value="email") email
      option(value="phone") phone
    input.stretch.contact-details
  .blurb.explain Submitting extends your trial by #{extension} days, and gives us a chance to talk and find out how we can best help. We will then manually extend the trial through the duration of your pre-production phase. 
  .submit
    .arrow-button Submit
