.production
  .icon-choices.lexi
    label
      .icon-choice.little-brother.pre-prod
        .icon
          img.shadow-icon(data-src="plan-small")
          .micro-title Small
        input(value="small" type="radio" name="plan")
        .cost 29
        .blurb 
          .item 1 Server
          .item 1 Collaborator
          .item 1 Trigger
    label
      .icon-choice.little-brother.pre-prod
        .icon
          img.shadow-icon(data-src="plan-startup")
          .micro-title Starup
        input(value="startup" type="radio" name="plan" checked="checked")
        .cost 99
        .blurb 
          .item 5 Server
          .item 5 Collaborator
          .item 5 Trigger
    label
      .icon-choice.little-brother.pre-prod
        .icon
          img.shadow-icon(data-src="plan-business")
          .micro-title Business
        input(value="business" type="radio" name="plan")
        .cost 299
        .blurb 
          .item 30 Server
          .item 30 Collaborator
          .item 30 Trigger
    label
      .icon-choice.little-brother.pre-prod
        .icon
          img.shadow-icon(data-src="plan-custom")
          .micro-title Custom
        input(value="custom" type="radio" name="plan")
        .cost 599
        .blurb 
          .item 30 Server
          .item 30 Collaborator
          .item 30 Trigger
  
  .finalize
    .arrow-button Submit
