.production              {
  .icon-choices .icon-choice.little-brother{margin-top:40px; }
  .icon                  {flex-direction:column;justify-content: center; position: relative; justify-content: flex-end;
    svg                  {margin-bottom:70px; }
    .micro-title         {position: absolute;bottom :35px; font-style:normal; font-weight: $bold; letter-spacing: 0.06em; font-size:13px; color:#a3b4c2; text-transform: uppercase; }
  }
  .finalize              {display: flex; justify-content: center; margin-top:25px; padding-bottom:10px;}
  .choice                {position: relative;
    &#Custom             {
      .cost              {
        &:after,
        &:before         {display: none; }
      }
    }
  }
  @import 'slider';
}
